.shipping-list-container {
    display: flex;
    background-color: #1B1D22;
}

.shipping-list {
    width: 15%;
    padding: 10px;
    /*border: 1px solid #fff;*/
}

.shipment-details {
    width: 85%;
    border: 1px solid #1B1D22;
    padding: 10px;
    margin-left: 10px;
    height: 1000px;
    overflow: auto;
}

.shipping-list-search input {
    position: absolute;
    top: 5%;
    right: 50%;
    left: 22%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

li, p {
    color: #979797;
    font-family: Lato, regular, serif;
}

h3 {
    font-size: 20px;
    color: #979797;
    line-height: 38px;
}

