.App {
  text-align: left;
  margin: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.logo-container img {
  height: 50px;
  width: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  margin-bottom: 10px;
}

li:hover {
  text-decoration: underline;
}

h1 {
  font-family: Roboto, sans-serif;
  color: #f1f1f1;
  font-size: 64px;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: -15px;
}

p {
  font-family: Roboto, sans-serif;
  color: #f1f1f1;
}

